.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

tr {
    cursor: pointer;
}
tr:hover{
    background-color: #ccc;
}


td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
